<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>PDF.js Reader</title>
    <base href="./" />

    <link rel="stylesheet" href="./web/pdf_viewer.css">
    <link rel="stylesheet" href="./view.css">
    <link rel="stylesheet" href="./@vscode/codicons/dist/codicon.css" id="vscode-codicon-stylesheet">

    <script src="./build/pdf.mjs" type="module"></script>
    <script src="./web/pdf_viewer.mjs" type="module"></script>
    <script src="./@vscode-elements/elements/dist/bundled.js" type="module"></script>
</head>

<body tabindex="1">
    <vscode-split-layout id="outlineSplit" fixe-pane="start" handle-position="-1px" style="display: none;">
        <div id="outlinePane" slot="start">
            <vscode-tree arrows indent-guides></vscode-tree>
        </div>
        <div id="viewerPane" slot="end"></div>
    </vscode-split-layout>

    <div id="viewerContainer">
        <div id="viewer" class="pdfViewer"></div>
    </div>

    <script src="./view.js" type="module"></script>
</body>

</html>
