<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="highlightColors" content="${highlightColors}">
    <title>PDF.js Reader</title>
    <base href="./" />

    <link rel="stylesheet" href="./web/pdf_viewer.css">
    <link rel="stylesheet" href="./view.css">
    <link rel="stylesheet" href="./@vscode/codicons/dist/codicon.css" id="vscode-codicon-stylesheet">

    <script src="./build/pdf.mjs" type="module"></script>
    <script src="./web/pdf_viewer.mjs" type="module"></script>
    <script src="./@vscode-elements/elements/dist/bundled.js" type="module"></script>
</head>

<body tabindex="1">
    <vscode-split-layout id="outlineSplit" fixe-pane="start" handle-position="-1px" style="display: none;">
        <div id="outlinePane" slot="start">
            <vscode-tree arrows indent-guides></vscode-tree>
        </div>
        <div id="viewerPane" slot="end"></div>
    </vscode-split-layout>

    <div id="viewerContainer">
        <div id="viewer" class="pdfViewer"></div>
    </div>

    <div id="findPane" style="display: none;">
        <vscode-icon
            class="option highlightAll"
            name="paintcan"
            title="Highlight All"
            action-icon>
        </vscode-icon>
        <vscode-textfield placeholder="Find in document...">
            <vscode-icon
                class="option caseSensitive"
                slot="content-after"
                name="case-sensitive"
                title="Match Case"
                action-icon>
            </vscode-icon>
            <vscode-icon
                class="option entireWord"
                slot="content-after"
                name="whole-word"
                title="Match Whole Word"
                action-icon>
            </vscode-icon>
            <vscode-icon
                class="option matchDiacritics"
                slot="content-after"
                name="search-fuzzy"
                title="Match Diacritics"
                action-icon>
            </vscode-icon>
        </vscode-textfield>
        <span class="matches empty">No results</span>
        <vscode-icon
            class="button prev"
            name="arrow-up"
            title="Previous Match"
            action-icon>
        </vscode-icon>
        <vscode-icon
            class="button next"
            name="arrow-down"
            title="Next Match"
            action-icon>
        </vscode-icon>
        <vscode-icon
            class="button close"
            name="close"
            title="Close"
            action-icon>
        </vscode-icon>
    </div>

    <script src="./view.js" type="module"></script>
</body>

</html>
