<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>PDF.js Reader</title>

    <link rel="stylesheet" href="./web/pdf_viewer.css">
    <link rel="stylesheet" href="./view.css">

    <script src="./build/pdf.mjs" type="module"></script>
    <script src="./web/pdf_viewer.mjs" type="module"></script>
</head>

<body tabindex="1">
    <div id="viewerContainer">
        <div id="viewer" class="pdfViewer"></div>
    </div>

    <script src="./view.js" type="module"></script>
</body>

</html>
